*
{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(233, 234, 235);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.container
{
    position: relative;
    background: linear-gradient(to top, #7a1fa2, #bd1960);
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    overflow: hidden;
    border-radius: 30px;
    box-shadow:  0 10px 20px rgba(0, 0, 0, 0.3)
}


/* Logo section */

.logo-section
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
    flex-direction: column;
    transition: all .5s linear;
}



.logo-section.active{
    align-items:start;
    margin-left: 10%;
    
}
.logo-section img{
    width: 100px;
    height: 100px;
    filter: brightness(0) invert(1);
}

.logo-section  h2
{
    color: #fff;
    font-weight: 600;
}

.logo-section p{
    color: #fff;
}

.logo-section .btn
{
    padding: 10px 20px;
    background-color: #fff;
    color: linear-gradient(to top, #7a1fa2, #bd1960);
    border: none;
    outline: none;
    gap: 5px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}

/* Logo Section End */


/* Form Main Container */

.form-container
{
    position: absolute;
    background-color: #fff;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    transition: all 1s ease;
}

.form-container.active  
{
    transition: all 1s ease;
    display: flex;
    right: 0;
}


form .input-field
{
    border: 1px solid #000;
    padding: 0 0.4rem;
    height: 40px;
    width: 100%;
    border-radius: 55px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 5px;
}

.input-field i{
    text-align: center;
    line-height: 1;
    color: #acacac;
    background: linear-gradient(to bottom, #bd1960, #7a1fa2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 30px;
    border-radius: 50%;
}
form .input-field input
{
    background:none;
    border: none;
    outline: none;
    line-height: 1;
    font-weight: 600;
    font-size: 16px;
    color: #333;
}

a{
    text-decoration: none;
}



.login-section 
{
    right: -100%;
    transition: all 2s ease;
}

.login-section.close
{
    display: none;
}


.form-container .login-section form
{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 0.8rem;
    padding: 0 20px;
}

.form-container .login-section form header
{
    font-weight: 600;
    font-size: 20px;
}

/* Form Container End */

/* Login Section */

.login-section form a{
    left: 0;
}

.login-section form a
{
    background: linear-gradient(to right, #bd1960, #7a1fa2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    font-weight: 600;
}


/* Login Section End */

/* Register Section  */
.login-section .signin, .register-section .signup
{
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    background: linear-gradient(to bottom, #bd1960, #7a1fa2);;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
.form-container .register-section
{
    right: -80%;
    transition: all 2s ease;
}
.form-container .register-section form
{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 0.8rem;
    padding: 0 20px;
}

.form-container .register-section form header
{
    font-weight: 600;
    font-size: 20px;
}

.register-section.close
{
    display: none;
}



/*  Responsive for Mobile and  Tablet */

@media (max-width: 570px) {

    .container
    {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .form-container
    {
        position: absolute;
        background-color: #fff;
        transition: all 1s linear;
        bottom: -100%;
        width: 100%;
        display: flex;
        align-items: center;
        transform:none;
        justify-content: center;
    }
    .form-container.active  
    {
        transition: all 1s ease;
        display: flex;
        bottom: 0;
        left: 0;
        top: 15%;

    }
    .logo-section
    {
        position: absolute;
        display:flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 1rem;
        flex-direction: column;
        transition: all .5s linear;
    }
    .logo-section.active{
        align-items:center;
        justify-content: start;
        margin-top: 15px;
        transition: none;
        margin-left: 0;
        
    }
    .logo-section.active img{
        width: 50px;
        height: 50px;
        filter: brightness(0) invert(1);
    }
}